.site-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 20px 0px;
  transition: all 0.3s ease-in-out;

  &.active-header {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    animation: stickyHeader 0.5s ease-in-out;

    @keyframes stickyHeader {
      0%{
        top: -100px;
      }

      100%{
        top: 0px;
      }
    }

    .header-row{

      .menu{
        opacity: 0;

        li{
          top: 10px;
          opacity: 0;
        }
        &.menu-nav{
          opacity: 1;

          li{
            top: 0;
            opacity: 1;
          }
        }
      }

      .toggle-menu{
        display: inline-block !important;
      }
    }
  }

  &.black-header{
    .header-row {
      .logo {
        a{
          color: $black;
        }
      }

      .navbar {

        .menu {
          a{
            color: $black;
            &:after{
              background-color: $black;
            }
          }
        }

        .toggle-menu{
          &.toggle-active{
            span{
              &::before,
              &::after{
                background-color: $black;
              }
            }
          }

          span{
            background-color: $black;
          }
        }
      }    
    }
  }

  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      a {
        color: $white;
        font-size: 24px;
        line-height: 1;
      }
    }

    .navbar {
      display: flex;
      align-items: center;
      gap: 30px;

      .menu {
        display: flex;
        align-items: center;
        gap: 30px;
        transition: all 0.5s ease-in-out;
        
        li{
          position: relative;
        }

        @for $i from 1 through 5 {
          li:nth-child(n + #{$i}) {
            transition: all $i * 0.15s ease-in-out;
          }
        }

        a {
          font-size: 16px;
          color: $white;
          @include linkUnderline;
        }
      }

      .toggle-menu {
        width: 25px;
        cursor: pointer;
        display: none;

        span {
          display: block;
          width: 100%;
          height: 1px;
          background-color: $white;
          transition: all 0.3s ease-in-out;
          position: relative;

          &:nth-child(1) {
            margin-left: auto;
          }

          &:nth-child(2) {
            margin: 5px 0;

            &::after,
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: transparent;
              transition: all 0.3s ease-in-out;
            }
          }

          &:nth-child(3) {
            margin-right: auto;
          }
        }

        &:hover {
          &:not(.toggle-active) {
            span {
              &:nth-child(1) {
                width: 50%;
              }

              &:nth-child(3) {
                width: 50%;
              }
            }
          }
        }

        &.toggle-active {
          span {
            background-color: transparent;

            &:nth-child(1) {
                top: 7px;
              }

              &:nth-child(3) {
                top: -7px;
              }

            &::before,
            &::after {
              background-color: $white;
            }

            &::after {
              transform: rotate(45deg);
            }

            &::before {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}